.matches-top-level-container {
  height: 100%;
}

.matches-title {
  background-color: #2f2f2d;
  color: #ece1cb;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px black;
  margin-top: 10px;
  width: 100%;
}

.matches-title-pictures-container {
  width: 100%;
  padding: 10px;
}

.matches-picture-view {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
}

.mappedMatches {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  padding: 10px 0px;
  background-color: #ece1cb;
  padding: 10px;
}

.mappedMatchesContainer {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mappedMatchesContainer h3 {
  font-family: "Space Grotesk SemiBold";
  margin-top: 10px;
}

.matches-picture-div {
  border-radius: 50%;
  box-shadow: 1px 1px 3px black;
  width: 75px;
  height: 75px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matches-picture-div:hover {
  transform: scale(1.02);
}

.match1 {
  padding: 10px;
}

.match1-title {
  background-color: #2f2f2d;
  color: #ece1cb;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px black;
}

#mapped-matches-container {
  width: 100%;
  overflow-y: scroll;
  box-shadow: 1px 1px 3px black;
  background-color: #ece1cb;
  padding: 0px 10px;
}

.matches {
  background-color: #2f2f2d;
  color: #ece1cb;
  border-radius: 30px;
  box-shadow: 1px 1px 3px black;
  margin: 10px 0px;
}

.matches:hover {
  background-color: rgb(97, 198, 146);
}

.wow {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  height: 60px;
  padding: 10px;
}

.matches-profile-photo {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lastMessage {
  margin-left: 10px;
  margin-top: 1rem;
  height: 2rem;
  width: 17rem;
  border-right: 1px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
}

.gamer {
  float: left;
}

/* Styles for the toggled view. the stuff that shows when they click "start new chat" */
#chat-view {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#chatSelection {
  width: 100%;
  overflow: scroll;
  box-shadow: 3px 3px 6px 1px rgb(62, 62, 62);
}

#toggle2 {
  height: 2rem;
  width: 2rem;
  position: absolute;
  margin-left: -1vw;
  background-color: whitesmoke;
  border: 5px inset rgb(68, 103, 85);
  border-radius: 50px 50px 50px 50px;
  box-shadow: 3px 3px 6px 1px rgb(62, 62, 62);
}

#gamertag {
  font-family: "Space Grotesk";
  font-size: small;
  float: left;
}
